<template>
    <div>
        <button class="add-field button button-primary button-large" @click.prevent="addField">Добавить поле</button>
        <div class="fields">
            <div class="icon-field" v-for="(field, index) in localFields" v-bind:key="field.icon">
                <div class="field-control">
                    <div class="control add-icon">
                        <button type="button" class="button button-primary">Выбрать иконку</button>
                        <ul class="">
                            <li v-for="icon in icons" v-bind:key="icon">
                                <button @click.prevent="setIcon(field, icon)" :class="icon + ' icon-field-icon'"></button>
                            </li>
                        </ul>
                    </div>
                    <button class="button" @click.prevent="removeField(field)">Убрать поле</button>
                </div>
                <div class="icon-field-form">
                    <span :class="field.icon + ' icon-field-icon'"></span>
                    <input :name="metabox_id + '[' + name + ']' + '[' + index + '][icon]'" v-model="field.icon" type="hidden">
                    <textarea v-model="field.value" :name="metabox_id + '[' + name + ']' + '[' + index + '][value]'"></textarea>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props: {
            fields: String,
            metabox_id: String,
            name: String
        },

        data() {
            return {
                localFields: JSON.parse(this.fields),
                icons: [
                    'air-conditioner',
                    'bathrobe',
                    'bed',
                    'capability',
                    'coffee-cup',
                    'cosmetic-mirror',
                    'cosmetics',
                    'curtain',
                    'hair-dryer',
                    'hanger',
                    'idea',
                    'ironing',
                    'lamp',
                    'massage',
                    'microphone',
                    'monitor',
                    'placeholder',
                    'proector',
                    'screen',
                    'selection',
                    'shower',
                    'socket',
                    'sound',
                    'speaker',
                    'strongbox',
                    'toothbrush',
                    'tray',
                    'warm-floor',
                    'water-bottle',
                    'wifi'
                ]
            }
        },

        created() {
            this.loadIcons();
        },

        methods: {
            loadIcons: async function() {
                var vm = this

                if(vm.localFields != null) {
                    vm.localFields.forEach(function(field){
                        var attachment = wp.media.attachment(parseInt(field.icon));
                        attachment.fetch()
                        field['icon_img'] = attachment.attributes.url
                    })
                }
            },

            removeField: async function(field) {
                this.localFields.splice(this.localFields.indexOf(field), 1);
            },

            setIcon: async function(field, icon) {
                 field.icon = icon
            },

            // setIcon: async function(field) {
            //     var frame
            //     var vm = this
            //
            //     if(field.icon == null) {
            //         field.icon = []
            //     }
            //
            //     if ( frame ) {
            //         frame.open()
            //         return;
            //     }
            //
            //     var frame = wp.media({
            //         title: 'Select or Upload Media Of Your Chosen Persuasion',
            //         button: {
            //             text: 'Use this media'
            //         },
            //         multiple: false
            //     });
            //
            //     frame.on( 'close', function(){
            //         var attachment = frame.state().get('selection').first().toJSON();
            //         field.icon = attachment.id
            //         field.icon_url = attachment.url
            //     })
            //
            //     frame.on('open', function(){
            //         var selection =  frame.state().get('selection');
            //         var attachment = wp.media.attachment(field.icon);
            //         attachment.fetch();
            //         selection.add( attachment ? [ attachment ] : [] )
            //     })
            //
            //     frame.open()
            // },

            addField: async function() {
                if (this.localFields == null) {
                    this.localFields = []
                }
                
                this.localFields.push({
                    icon: null,
                    value: null
                })
            }
        }
    }
</script>
<style scoped lang="scss">
    .fields {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        .icon-field {
            flex: 0 0 49%;
            box-sizing: border-box;
        }
    }
    .field-control {
        position: relative;
        z-index: 1;
        margin-bottom: 10px;
        padding-left: 160px;

        &:hover {
            z-index: 3;
        }
        
        span {
            background: #e5e5e5;
            padding: 10px 15px;
            display: inline-block;
        }

        .add-icon {
            position: absolute;
            min-width: 150px;
            left: 0;
            z-index: 1;

            ul {
                display: none;
                width: 100%;
                background: white;
                border: 1px solid #f2f2f2;
                padding: 20px;
                box-shadow: 0 0 8px rgba(0,0,0,0.1);
                position: relative;
                z-index: 1000;

                li {
                    display: inline-block;
                    vertical-align: top;

                    button {
                        background: none;
                        border: 1px solid #e5e5e5;
                        vertical-align: top;
                        margin: 5px;
                    }
                }
            }

            &:hover {
                z-index: 2;
                ul {
                    display: block;
                }
            }
        }
    }
    .icon-field {
        padding: 20px;
        margin-bottom: 10px;
        background: #f2f2f2;
        border: 1px solid #ccc;
        border-radius: 4px;

        img {
            width: 20px;
            height: 20px;
            margin-right: 10px;
        }

        .icon-field-form {
            display: flex;
            align-items: center;
        }
    }

    .add-field {
        margin-bottom: 20px;
    }

    .set-icon {
        margin-bottom: 10px;
        margin-right: 20px;
    }

    .field-control {
        display: flex;

        .remove-icon {
            color: red;
        }
    }

    .icon-field-form {
        span {
            margin-right: 10px;
        }
    }
</style>