<template>
    <div>
        <button class="button button-primary button-large" @click.prevent="openFiles">Добавить</button>
        <input v-for="(file, index) in localFiles" v-bind:key="index" :name="metabox_id + '[' + name + '][' + index + ']'" :value="file" type="hidden">
        <ul class="files">
           <li v-for="img in filesImgs" v-bind:key="img.id">
               <img :src="img.url" alt="">
               <p>{{ img.title }}</p>
           </li>
        </ul>
    </div>
</template>
<script>
    export default {
        props: {
            files: String,
            metabox_id: String,
            name: String
        },

        data() {
            return {
                localFiles: JSON.parse(this.files),
                filesImgs: []
            }
        },

        mounted() {
            this.loadFiles();
        },

        methods: {
            loadFiles: async function() {
                var vm = this

                if(vm.localFiles != null) {
                    vm.localFiles.forEach(function(file) {
                        var attachment = wp.media.attachment(file);
                        attachment.fetch()
                        vm.filesImgs.push(attachment.attributes)
                    })
                    for(let index = 0; index < vm.localFiles.length; index++) {
                        vm.localFiles[index] = parseInt(vm.localFiles[index])
                    }
                }
            },

            openFiles: async function() {
                var frame
                var vm = this

                if(this.localFiles == null) {
                    this.localFiles = []
                }

                if ( frame ) {
                    frame.open()
                    return;
                }

                var frame = wp.media({
                    title: 'Select or Upload Media Of Your Chosen Persuasion',
                    button: {
                        text: 'Use this media'
                    },
                    multiple: true
                });

                frame.on( 'close', function(){
                    var attachments = frame.state().get('selection').toJSON();
                    vm.localFiles = []
                    vm.filesImgs = []
                    attachments.forEach(function(file){
                        if (vm.localFiles.indexOf(file.id) === -1) {
                            vm.localFiles.push(file.id)
                            vm.filesImgs.push(file)
                        }
                    })
                })

                frame.on('open', function(){
                    var selection = frame.state().get('selection');
                    vm.localFiles.forEach(function(file) {
                        var attachment = wp.media.attachment(file);
                        attachment.fetch();
                        selection.add( attachment ? [ attachment ] : [] );
                    })
                })

                frame.open()
            }
        }
    }
</script>
<style scoped lang="scss">
    .files {
        display: flex;
        flex-flow: row wrap;
        li {
            margin: 10px;
            flex: 0 0 120px;
            overflow: hidden;
            img {
                height: 120px;
                width: auto;
            }
        }
    }
</style>