<template>
    <div>
        <button class="button button-primary button-large" @click.prevent="addFile">Добавить изображение</button>
        <button class="button button-primary button-large" @click.prevent="removeFile">Удалить изображение</button>
        <input :name="metabox_id + '[' + name + ']'" v-model="localFile" type="hidden">
        <br>
        <img width="100%" :src="localFileData.url" alt="">
    </div>
</template>
<script>
    export default {
        props: {
            file: String,
            metabox_id: String,
            name: String
        },

        data() {
            return {
                localFile: this.file,
                localFileData: []
            }
        },

        mounted() {
            this.loadFile();
        },

        methods: {
            loadFile: async function() {
                var attachment = wp.media.attachment(this.file);
                attachment.fetch()
                this.localFileData = attachment.attributes
            },

            removeFile: async function() {
                this.localFile = null
                this.localFileData = []
            },

            addFile: async function() {
                var frame
                var vm = this

                if ( frame ) {
                    frame.open()
                    return;
                }

                var frame = wp.media({
                    title: 'Выберите изображение',
                    button: {
                        text: 'Использовать'
                    },
                    multiple: false
                });

                frame.on( 'close', function(){
                    var attachment = frame.state().get('selection').first().toJSON();
                    vm.localFile = attachment.id
                    vm.localFileData = attachment
                })

                frame.on('open', function(){
                    var selection = frame.state().get('selection');
                    var attachment = wp.media.attachment(vm.localFile);
                    attachment.fetch();
                    selection.add( attachment ? [ attachment ] : [] );
                })

                frame.open()
            }
        }
    }
</script>
<style scoped lang="scss">
    .files {
        display: flex;
        flex-flow: row wrap;
        li {
            margin: 10px;
            flex: 0 0 120px;
            overflow: hidden;
            img {
                height: 120px;
                width: auto;
            }
        }
    }
</style>