<template>
    <div>
        <button class="add-input button button-primary button-large" @click.prevent="addInput">Добавить поле</button>
        <div class="fields">
            <div class="input-group" v-for="(input, index) in localInputs" v-bind:key="input">
                <label>Параметр
                    <input :name="metabox_id + '[' + name + ']' + '[' + index + '][label]'" v-model="input.label" type="text">
                </label><br>
                <label>Значение
                    <input :name="metabox_id + '[' + name + ']' + '[' + index + '][value]'" v-model="input.value" type="text">
                </label><br>
                <button class="add-input button button-primary button-large dashicons-no" @click.prevent="removeInput(input)"></button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "InputGroup",
        props: {
            inputs: String,
            metabox_id: String,
            name: String
        },
        data() {
            return {
                localInputs: JSON.parse(this.inputs)
            }
        },
        created() {

        },
        methods: {
            addInput: async function() {
                if( this.localInputs == null) {
                    this.localInputs = []
                }

                this.localInputs.push({
                    label: null,
                    value: null
                })

                console.log(this.localInputs)
            },
            removeInput: async function(input) {
                this.localInputs.splice(this.localInputs.indexOf(input), 1);
            }
        }
    }
</script>

<style scoped lang="scss">
    .fields {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        .input-group {
            position: relative;
            top: 0;
            right: 0;
            padding: 10px 15px;
            margin: 10px 0;
            flex: 0 0 49%;
            background: #f2f2f2;
            border: 1px solid #ccc;
            box-sizing: border-box;

            .add-input {
                top: 10px;
                right: 15px;
                position: absolute;
            }
            
            label {
                width: 50%;
            }
        }
    }
</style>