<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-widget col-md-4 col-12">
                <h4>{{ __('Contact', 'timbersaw-theme') }}</h4>
                <ul>
                    {% if address %}
                        <li>{{ address }}</li>
                    {% endif %}
                    {% if booking_phone %}
                        <li>{{ __('Booking:', 'timbersaw-theme') }} <a href="tel:{{ booking_phone|replace({"-": "", "(": "", ")": ""}) }}">{{ booking_phone }}</a></li>
                    {% endif %}
                    {% if email %}
                        <li><a href="mailto:{{ email }}">{{ email }}</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="footer-widget col-md-4 col-12">
                <h4>{{ __('Links', 'timbersaw-theme') }}</h4>
                {% if footer_menu %}
                    <ul>
                        {% for item in footer_menu.get_items %}
                            <li class="{{ item.classes | join(' ') }}">
                                <a target="{{ item.target }}" href="{{ item.link }}">
                                    {{ item.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="footer-widget col-md-4 col-12">
{#                <h4>{{ __('Partners', 'timbersaw-theme') }}</h4>#}
{#                {% if partners %}#}
{#                    {% for partner in partners %}#}
{#                        <img src="{{ partner.src }}" height="80" alt="">#}
{#                    {% endfor %}#}
{#                {% endif %}#}
                <ul>
                    {% if sales_phone and sales_email %}
                        <li><strong>{{ __('Sales','timbersaw-theme') }}</strong>:</li> <a href="tel:{{ sales_phone|replace({"-": "", "(": "", ")": ""}) }}">{{ sales_phone }}</a> | <a
                            href="mailto:{{ sales_email }}">{{ sales_email }}</a></li>
                    {% endif %}
                    {% if restaurant_phone and restaurant_email %}
                        <li><strong>{{ __('Restaurant Service','timbersaw-theme') }}</strong>: <a href="tel:{{ restaurant_phone|replace({"-": "", "(": "", ")": ""}) }}">{{ restaurant_phone }}</a> |
                            <a href="mailto:{{ restaurant_email }}">{{ restaurant_email }}</a></li>
                    {% endif %}
                    {% if reception %}
                        <li><strong>{{ __('Reception','timbersaw-theme') }}</strong>: <a href="tel:{{ reception|replace({"-": "", "(": "", ")": ""}) }}">{{ reception }}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
{{ function('wp_footer') }}