<header class="site-header">
    <nav id="mobile-nav" class="mobile-nav">
        <button class="icon close no-text" type="button">{{ __('Close', 'timbersaw-theme') }}</button>
        {% if primary_menu %}
            {% include "front/partial/menu.twig" with {'menu': primary_menu.get_items} %}
        {% endif %}
        <div class="socials">
            {% if phone %}
                <a href="tel:{{ phone|replace({" ": "", "(": "", ")": "", "-": "", "+": ""}) }}" class='phone'>{{ phone }}</a>
            {% endif %}
            {% if email %}
                <a href="mailto:{{ email }}" class='email'>{{ email }}</a>
            {% endif %}
            {% if vk or facebook or google %}
                <ul class="socials">
                    {% if google %}
                        <li><a class="icon before google no-text" href="{{ google }}">Google+</a></li>
                    {% endif %}
                    {% if vk %}
                        <li><a class="icon before vk no-text" href="{{ vk }}">VK</a></li>
                    {% endif %}
                    {% if facebook %}
                        <li><a class="icon before facebook no-text" href="{{ facebook }}">Facebook</a></li>
                    {% endif %}
                    {% if instagram %}
                        <li><a class="icon before instagram no-text" href="{{ instagram }}">Instagram</a></li>
                    {% endif %}
                </ul>
            {% endif %}
            {{ poly_switcher }}
        </div>
    </nav>
    <div class="container social-header">
        <div class="social-header_row justify-content-between">
            <span class='hotel-name'>Holiday inn, St.Peterburg</span>
            <div class="social-right d-none d-lg-block">
                {% if phone %}
                <a href="tel:{{ phone|replace({" ": "", "(": "", ")": "", "-": "", "+": ""}) }}" class='col-xl-2 col-md-3 col-sm-4 phone'>{{ phone }}</a>
                {% endif %}
                {% if email %}
                <a href="mailto:{{ email }}" class='col-xl-2 col-md-3 col-sm-3 email'>{{ email }}</a>
                {% endif %}
                {% if vk or facebook or google %}
                <ul class="socials">
                    {% if google %}
                        <li><a class="icon before google no-text" href="{{ google }}">Google+</a></li>
                    {% endif %}
                    {% if vk %}
                    <li><a class="icon before vk no-text" href="{{ vk }}">VK</a></li>
                    {% endif %}
                    {% if facebook %}
                    <li><a class="icon before facebook no-text" href="{{ facebook }}">Facebook</a></li>
                    {% endif %}
                    {% if instagram %}
                    <li><a class="icon before instagram no-text" href="{{ instagram }}">Instagram</a></li>
                    {% endif %}
                </ul>
                {% endif %}
                {% if lang %}
                    <span class="lang-switcher">
                        <a class="icon after pointer" href="#">{{ lang.current }}</a>
                        <ul>
                            {% for lang in lang.langs %}
                                <li><a href="{{ lang.url }}">{{ lang.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </span>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container position-relative">
        <div class="row align-items-center">
            <div class="col-md-3 position-relative">
                {% if custom_logo.src %}
                    <a href="{{ http_host }}"><img src="{{ custom_logo.src }}"></a>
                {% else %}
                    <a href="{{ http_host }}">{{ site.name }}</a>
                    <span>{{ site.description }}</span>
                {% endif %}
            </div>
            <button class="icon menu no-text d-block d-lg-none" type="button">{{ __('Open', 'timbersaw-theme') }}</button>
            {% if primary_menu %}
            <nav class="site-nav d-none d-lg-block col-md-9">
                {% include "front/partial/menu.twig" with {'menu': primary_menu.get_items} %}
            </nav>
            {% endif %}
        </div>
    </div>
    <!-- /.navbar -->
</header>
<!-- /.header -->