{% if menu %}
    <ul class="scroll">
        {% for item in menu %}
            <li class="{{ item.classes | join(' ') }}">
                <a target="{{ item.target }}" href="{{ item.link }}">
                    {{ item.title }}</a>
                {% include "front/partial/menu.twig" with {'menu': item.get_children} %}
            </li>
        {% endfor %}
    </ul>
{% endif %}