<div class="galery">
	<div class="container">
		<div class="row rest">
			<div class="rest__item">
				<img src="img/barsmall.png" alt="">
				<p class='rest-name'>Ресторан Милано</p>
				<p class='rest-info'>В меню классические и домашние пасты и пиццы по уникальным рецептам нашего шеф-повара.</p>
				<div class="buttons">
					<a href="#" class='btn-menu'>Меню</a>
					<a href="#" class='btn-menu'>Меню</a>
					<a href="#" class='btn-booking'>Забронировать</a>
				</div>
			</div>
			<div class="rest__item">
				<img src="img/barsmall.png" alt="">
				<p class='rest-name'>Ресторан Милано</p>
				<p class='rest-info'>В меню классические и домашние пасты и пиццы по уникальным рецептам нашего шеф-повара.</p>
				<div class="buttons">
					<a href="#" class='btn-menu'>Меню</a>
					<a href="#" class='btn-menu'>Меню</a>
					<a href="#" class='btn-booking'>Забронировать</a>
				</div>
			</div>
			<div class="rest__item">
				<img src="img/barsmall.png" alt="">
				<p class='rest-name'>Ресторан Милано</p>
				<p class='rest-info'>В меню классические и домашние пасты и пиццы по уникальным рецептам нашего шеф-повара.</p>
				<div class="buttons">
					<a href="#" class='btn-menu'>Меню</a>
					<a href="#" class='btn-menu'>Меню</a>
					<a href="#" class='btn-booking'>Забронировать</a>
				</div>
			</div>
			<div class="rest__item">
				<img src="img/barsmall.png" alt="">
				<p class='rest-name'>Ресторан Милано</p>
				<p class='rest-info'>В меню классические и домашние пасты и пиццы по уникальным рецептам нашего шеф-повара.</p>
				<div class="buttons">
					<a href="#" class='btn-menu'>Меню</a>
					<a href="#" class='btn-menu'>Меню</a>
					<a href="#" class='btn-booking'>Забронировать</a>
				</div>
			</div>
		</div>
	</div>
</div>