<div class="container schedule">
	<div class="col-xl-4 col-md-5 col-sm-7">
		<p class='bold'>Ждем Вас ежедневно:</p>
		<div class="schedule__day">
			<p>Понедельник</p><p>12:00 - 01:00</p>
		</div>
		<div class="schedule__day">
			<p>Вторник</p><p>12:00 - 01:00</p>
		</div>
		<div class="schedule__day">
			<p>Среда</p><p>12:00 - 01:00</p>
		</div>
		<div class="schedule__day">
			<p>Четверг</p><p>12:00 - 01:00</p>
		</div>
		<div class="schedule__day">
			<p>Пятница</p><p>12:00 - 01:00</p>
		</div>
		<div class="schedule__day">
			<p>Суббота</p><p>12:00 - 01:00</p>
		</div>
		<div class="schedule__day">
			<p>Воскресенье</p><p>12:00 - 01:00</p>
		</div>
		<a href="#" class='schedule__btn'>Забронировать</a>
	</div>
</div>