<div class="container">
	<div class="row galery__image">
		<div class="col-xl-12">
			<img src="img/bar.png" id='largeImg' alt="" width="100%">
		</div>
		<div class="col-xl-12 d-flex galery__image-small" id='smallImg'>
			<div><a href="img/room2.png" ><img src="img/room2.png" alt="" width="119.5px" height="80px"></a></div>
			<div><a href="img/bar.png"><img src="img/bar.png" alt="" width="119.5px" height="80px"></a></div>
			<div><img src="img/room2.png" alt="" width="120px" height="80px"></div>
			<div><img src="img/room2.png" alt="" width="120px" height="80px"></div>
			<div><img src="img/room2.png" alt="" width="120px" height="80px"></div>
			<div><img src="img/room2.png" alt="" width="120px" height="80px"></div>
			<div><img src="img/room2.png" alt="" width="120px" height="80px"></div>
			<div><img src="img/room2.png" alt="" width="120px" height="80px"></div>
			<div><img src="img/room2.png" alt="" width="120px" height="80px"></div>
		</div>
	</div>
</div>
<div class="container hall">
	<div class="row hall__info">
		<p class=''>Насладитесь панорамным видом на историческую Триумфальную Арку*. Развейтесь в комфортной спальне с собственной ванной комнатой. Устройтесь поудобнее на диване в гостиной чтобы посмотреть кино или побродить по Интернет.</p>
	</div>
	<div class="container info">
		<div class="row info__header">Общая информация</div>
		<div class="row info__icons">
			<div class="column">
				<ul>
					<li class='d-flex'><img src="img/selection.svg" alt=""><div class='text'>Просторный номер – 25 m^2</div></li>
					<li class='d-flex'><img src="img/selection.svg" alt=""><div class='text'>Двуспальная кровать или две односпальные</div></li>
					<li class='d-flex'><img src="img/selection.svg" alt=""><div class='text'>Кондиционер</div></li>
					<li class='d-flex'><img src="img/selection.svg" alt=""><div class='text'>Доступ в Интернет</div></li>
				</ul>
			</div>
			<div class="column">
				<ul>
					<li class='d-flex'><img src="img/selection.svg" alt=""><div class='text'>Просторный номер – 25 m^2</div></li>
					<li class='d-flex'><img src="img/selection.svg" alt=""><div class='text'>Двуспальная кровать или две односпальные</div></li>
					<li class='d-flex'><img src="img/selection.svg" alt=""><div class='text'>Кондиционер</div></li>
					<li class='d-flex'><img src="img/selection.svg" alt=""><div class='text'>Доступ в Интернет</div></li>
				</ul>
			</div>
			<div class="column">
				<ul>
					<li class='d-flex'><img src="img/selection.svg" alt=""><div class='text'>Просторный номер – 25 m^2</div></li>
					<li class='d-flex'><img src="img/selection.svg" alt=""><div class='text'>Двуспальная кровать или две односпальные</div></li>
					<li class='d-flex'><img src="img/selection.svg" alt=""><div class='text'>Кондиционер</div></li>
					<li class='d-flex'><img src="./wp-content/themes/timbersaw-holidayinn-theme/public/assets/img/selection.svg" alt=""><div class='text'>Доступ в Интернет</div></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-4">
				<div class='hall__lines'>
					<div class="container info__header">Размеры</div>
					<div class="lines">
						<div class='line'><p>Ширина</p><p class='bold'>6 м</p></div>
						<div class='line'><p>Длина</p><p class='bold'>10 м</p></div>
						<div class='line'><p>Ширина</p><p class='bold'>6 м</p></div>
						<div class='line'><p>Длина</p><p class='bold'>10 м</p></div>
					</div>
				</div>
				<div class='hall__lines'>
					<div class="container info__header">Вместимость зала</div>
					<div class="lines">
						<div class='line'><p>Театр</p><p class='bold'>200 чел.</p></div>
						<div class='line'><p>Класс</p><p class='bold'>120 чел.</p></div>
					</div>
				</div>
				<div class='hall__lines'>
					<div class="container info__header">Стоимость аренды</div>
					<div class="lines">
						<div class='line'><p>Театр</p><p class='bold'>50 000 руб.</p></div>
						<div class='line'><p>Класс</p><p class='bold'>100 000 руб.</p></div>
					</div>
				</div>
				<div class="col-xl-4 booking__button">
					<a href='#' class='button'>Оставить заявку</a>
				</div>
			</div>
			<div class="col-xl-8 map-hall">
				<img src="./wp-content/themes/timbersaw-holidayinn-theme/public/assets/img/map-hall.png" alt="">
			</div>
		</div>
	</div>
</div>