<div class="container marriage">
	<div class="row">
		<p class='title'>Свадебное меню</p>
	</div>
	<div class="row">
		<div class="buttons">
			<a href="#" class='btn-menu'>Меню</a>
			<a href="#" class='btn-menu'>Меню</a>
			<a href="#" class='btn-menu'>Меню</a>
			<a href="#" class='btn-menu'>Меню</a>
		</div>
	</div>
	<div class="row">
		<p class='title'>Свадебный пакет</p>
	</div>
	<div class="row">
		<div class="btn-booking">
			<a href="#" class=''>Скачать свадебный пакет</a>
		</div>
	</div>
	<div class="row marriage-desc">
		<p>Свадьба – это торжественное и волнующее событие, один из самых радостных и счастливых моментов в жизни каждого человека.</p>

		<p>Отель «Холидей Инн» предлагает молодоженам различные возможности по организации свадьбы и множество преимуществ, которые станут залогом великолепного свадебного торжества.</p>

		<p>Отель предлагает элегантные банкетные залы, изысканные меню и безупречное обслуживание, а также свадебные номера для молодоженов.</p>

		<p>Вы можете выбрать блюда из нашего меню, или мы составим его по Вашему индивидуальному запросу. Кондитер нашего ресторана может приготовить для Вас свадебный торт.</p>

		<p>Свадебные банкеты проводятся в зале Конгресс Холл "Московский"(до 320 чел.);Фойе "Левинсон" (до 120 чел.),<br>
			Ресторан "Милано"(до 100 чел.),Банкетный зал "Тоскана" (до 120 чел.),Банкетный зал "Сельвинский"(до 90 чел.)</p>

		<p>Чтобы сделать запрос на организацию банкета свяжитесь с отделом продаж:<br>
			+7 812 448 7137<br>
			e-mail: sales12@hi-spb.com </p>
	</div>
</div>