{% extends "front/archive.twig" %}

{% block header %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <section class="shadowy">
        <div class="container">
            <div class="row">
                {% for post in posts %}
                    <div class="room-preview col-6 col-md-4">
                        {% if post.thumbnail %}
                            <a href="{{ post.link }}"><img src="{{ post.thumbnail|resize(740, 500) }}"/></a>
                        {% endif %}
                        <h3><a class="title-link" href="{{ post.link }}">{{ post.title }}</a></h3>
                        {% if post.meta('room_preview').fields %}
                            <ul>
                            {% for field in post.meta('room_preview').fields %}
                                <li><strong>{{ field.label }}:</strong> {{ field.value }}</li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}