{% extends "front/archive.twig" %}

{% block header %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <section class="shadowy">
        <div class="container">
            <div class="row">
                {% for post in posts %}
                    <div class="bar-preview col-12 col-sm-6 col-md-6">
                        {% if post.thumbnail %}
                            <a href="{{ post.link }}"><img src="{{ post.thumbnail|resize(1040, 560) }}"/></a>
                        {% endif %}
                        <h3><a class="title-link" href="{{ post.link }}">{{ post.title }}</a></h3>
                        <div>{{ post.preview }}</div>
                        {% if post.meta('bar_info').bar_files %}
                            {% include "front/components/files.twig" with {'files': post.meta('bar_info').bar_files } %}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}