{% extends "front/index.twig" %}

{% block header %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {% for post in posts %}
    <section class="shadowy">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3>{{ post.title }}</h3>
                </div>
                {% if post.thumbnail %}
                <div class="col-12 col-md-4">
                    <img src="{{ post.thumbnail|resize(370, 250) }}"/>
                </div>
                {% endif %}
                <div class="col-12 col-md-8">
                    {{ post.content }}
                </div>
            </div>
        </div>
    </section>
    {% endfor %}
{% endblock %}