{% block html_head_container %}
    {% include 'front/html-header.twig' %}
    {% block head %}{% endblock %}
    </head>{% endblock %}
<body class="{{body_class}}" data-template="base.twig">
<div id="page">
{% include 'front/partial/header.twig' %}
<main class='wrapper'>
    <section class="content-wrapper" id="content" role="main">
        <div class="wrapper">
            {% block header %}
            {% endblock %}
            {% block content %}
                Sorry, no content
            {% endblock %}
        </div>
    </section>
    {% include 'front/partial/footer.twig' %}
</main>

</div>
</body></html>