{% extends "front/base.twig" %}
{% block content %}

		{% if front_page.banner %}
			{% include 'front/components/front-page/banner.twig' with {'banner': front_page.banner} %}
		{% endif %}

		{% if front_page.gallery %}
			<section class="shadowy">
				<div class="container">
					<h2>{{ __('Gallery', 'timbersaw-theme') }}</h2>
					<div class="row">
						{% include "front/components/gallery.twig" with {'gallery': front_page.gallery} %}
					</div>
				</div>
			</section>
		{% endif %}

		{% if rooms %}
		<section class="shadowy">
			<div class="container">
				<h2>{{ __('Rooms', 'timbersaw-theme') }}</h2>
				<div class="row">
					{% for post in rooms %}
						<div class="room-preview col-6 col-md-4">
							{% if post.thumbnail %}
								<a class="title-link" href="{{ post.link }}"><img src="{{ post.thumbnail|resize(740, 500) }}"/></a>
							{% endif %}
							<h3><a class="title-link" href="{{ post.link }}">{{ post.title }}</a></h3>
							{% if post.meta('room_preview').fields %}
								<ul>
								{% for field in post.meta('room_preview').fields %}
									<li><strong>{{ field.label }}:</strong> {{ field.value }}</li>
								{% endfor %}
								</ul>
							{% endif %}
						</div>
					{% endfor %}
				</div>
			</div>
		</section>
		{% endif %}

		{% include 'front/components/front-page/features.twig' with {'features': front_page.features } %}
		
		{% if map %}
			<section class="shadowy">
				<div class="container">
					<div class="row align-items-center justify-content-center">
						{{ map }}
					</div>
				</div>
			</section>
		{% endif %}

		{% if front_page.imgs %}
			<section class="shadowy">
				<div class="container">
					<div class="row align-items-center justify-content-center">
						{% for img in front_page.imgs %}
						<img src="{{ img.src }}" height="80" alt="">
						{% endfor %}
					</div>
				</div>
			</section>
		{% endif %}

{% endblock %}
