{% extends "front/base.twig" %}
{% if post.title != null %}
{% set title = post.title %}
{% endif %}
{% block header %}
    <header class="container page-header">
        <div class="row justify-content-center">
            <h1 class="col-md-6">{{ title }}</h1>
        </div>
    </header>
{% endblock %}
{% block content %}

{% endblock %}