{% extends "front/index.twig" %}

{% block header %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div class="container page-content">
        <div class="row">
            {% if gallery %}
                {% include "front/components/gallery.twig" with {'gallery': gallery} %}
            {% endif %}
        </div>
        {% if files %}
            {% include "front/components/files.twig" with {'files': files } %}
        {% endif %}
        {{ post.content }}
    </div>
{% endblock %}