{% extends "front/index.twig" %}

{% block header %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div class="container halls-order">
        <div class="row">
            <button data-toggle="modal" data-target="#exampleModalLong" type="button" class="btn">{{ __('Book the hall', 'timbersaw-theme') }}</button>
        </div>
    </div>
    {% for term in terms %}
        <section class="shadowy">
            <div class="container">
                <h2>{{ term.name }}</h2>
                <div class="row">
                    {% for post in term.posts %}
                        <div class="hall-preview col-6 col-md-4">
                            {% if post.thumbnail %}
                                <a class="title-link" href="{{ post.link }}"><img src="{{ post.thumbnail|resize(740, 500) }}"/></a>
                            {% endif %}
                            <h3><a class="title-link" href="{{ post.link }}">{{ post.title }}</a></h3>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endfor %}
    {% if forms.hall_form %}
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">{{ __('Booking', 'timbersaw-theme') }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{ forms.hall_form }}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}