{% extends "front/index.twig" %}

{% block content %}
    {{  parent() }}
    <div class="container">
        <div class="row">
            {% if gallery %}
                {% include "front/components/gallery.twig" with {'gallery': gallery} %}
            {% endif %}
            {% if files %}
                {% include "front/components/files.twig" with {'files': files} %}
            {% endif %}
            <div class="col-12">
                {{ post.content }}
            </div>
            {% if basic_info %}
                {% include "front/components/icon-fields.twig" with {'fields': basic_info, 'fields_title': __('Basic Info', 'timbersaw-theme')} %}
            {% endif %}
            {% if room_bath %}
                {% include "front/components/icon-fields.twig" with {'fields': room_bath, 'fields_title': __('Bath Info', 'timbersaw-theme')} %}
            {% endif %}
            {% if post.post_type == 'hall' %}
                {% include "front/components/hall-info.twig" with {'sizes': post.meta('hall_info').sizes, 'capacity': post.meta('hall_info').capacity, 'rent': post.meta('hall_info').rent, 'map': map} %}
            {% elseif post.post_type == 'bar' %}
                {% include "front/components/working-hours.twig" with {'days': days, 'head': __('Working Hours:', 'timbersaw-theme')} %}
            {% endif %}
        </div>
    </div>
{% endblock %}