<div class="{{ field['id'] }} vue-metabox">
    <h3>{{ field['label'] }}</h3>
    <features-group metabox_id="{{ metabox_id }}" name="{{ field['id'] }}" fields="{{ value|json_encode(JSON_UNESCAPED_UNICODE)|e }}"></features-group>
</div>