<div class="{{ field['id'] }} vue-metabox">
    <h3>{{ field['label'] }}</h3>
    <icon-text-group metabox_id="{{ metabox_id }}" name="{{ field['id'] }}" fields="{{ value|json_encode(JSON_UNESCAPED_UNICODE)|e }}"></icon-text-group>
</div>