<div class="vue-metabox">
    <h3>{{ field['label'] }}</h3>
    <input-group metabox_id="{{ metabox_id }}" name="{{ field['id'] }}" inputs="{{ value|json_encode(JSON_UNESCAPED_UNICODE)|e }}"></input-group>
</div>