<div>
    <h3>{{ field['label'] }}</h3>
    <label>{{ __('Monday', 'timbersaw-theme') }}
        <input value="{{ value[0] }}" name="{{ metabox_id }}[{{ field['id'] }}][]" type="text">
    </label><br>
    <label>{{ __('Tuesday', 'timbersaw-theme') }}
        <input value="{{ value[1] }}" name="{{ metabox_id }}[{{ field['id'] }}][]" type="text">
    </label><br>
    <label>{{ __('Wednesday', 'timbersaw-theme') }}
        <input value="{{ value[2] }}" name="{{ metabox_id }}[{{ field['id'] }}][]" type="text">
    </label><br>
    <label>{{ __('Thursday', 'timbersaw-theme') }}
        <input value="{{ value[3] }}" name="{{ metabox_id }}[{{ field['id'] }}][]" type="text">
    </label><br>
    <label>{{ __('Friday', 'timbersaw-theme') }}
        <input value="{{ value[4] }}" name="{{ metabox_id }}[{{ field['id'] }}][]" type="text">
    </label><br>
    <label>{{ __('Saturday', 'timbersaw-theme') }}
        <input value="{{ value[5] }}" name="{{ metabox_id }}[{{ field['id'] }}][]" type="text">
    </label><br>
    <label>{{ __('Sunday', 'timbersaw-theme') }}
        <input value="{{ value[6] }}" name="{{ metabox_id }}[{{ field['id'] }}][]" type="text">
    </label><br>
</div>