.bar-preview {
  margin-bottom: 35px;
  
  img {
    width: 100%;
  }

  h3 {
    @include font-size(3);
  }
}

.files {
  margin-top: 20px;
  a {
    &:first-child {
      margin-left: 0;
    }
  }
}