.btn,
button[type="submit"],
input[type="submit"] {
  margin: 10px 0;
  padding: 5px 15px;
  border: none;
  background: #509D33;
  color: white;

  &:hover {
    color: white;
    background: #3A7425;
  }
}

.btn-bordered {
  color: #509D33;
  margin: 5px 5px;
  padding: 5px 15px;
  border: 1px solid #509D33;
  background: none;
  display: inline-block;

  &:hover {
    color: white;
    border: 1px solid #3A7425;
    background: #3A7425;
  }
}

.wpcf7-form {
  padding: 0 percentage(3 / $grid-columns);
  label {
    width: 100%;
    input {
      width: 100%;
    }
  }
}

textarea {
  border: 1px solid #C4C4C4;
  padding: 10px;
  margin-top: 10px;
  resize: none;
  outline: none;
  width: 100%;
  height: 120px;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="password"],
input[type="tel"] {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid #C4C4C4;
  outline: none;

  &:active,
  &:focus{
    border-bottom: 3px solid #509D33;
  }
}

.selectize-control.single .selectize-input {
  background: none;
  box-shadow: none;
  border-radius: 0;
  border: none;
  border-bottom: 3px solid #C4C4C4;

  input[type="select-one"] {
    display: none !important;
  }

  .item {
    margin-right: 30px;
    @include font-size(1.125);
  }

}

.pickdate {
  padding-top: 8px;
}

.line-inputs {
  display: flex;
  label:first-child {
    padding-right: 30px;
    flex: 0 0 percentage(6 / $grid-columns);
  }

  label{
    flex: 0 0 percentage(4 / $grid-columns);
  }
}