.hall-map {
  img {
    width: 100%;
  }
}

.hall-preview {
  img {
    width: 100%;
  }
}

.halls-order {
  button {
    max-width: 370px;
    width: 100%;
    margin-bottom: 35px;
    padding: 15px;
    @include font-size(1.5);
    box-shadow: 0 8px 16px rgba(0,0,0,0.25);
  }
}

.read-more {
  display: none;
}