header.site-header {
  position: relative;

  .social-right {
    a,
    ul li a,
    ul li {
      vertical-align: top;
    }
  }

  .lang-switcher {
    padding-right: 16px;
    position: relative;
    z-index: 11;
    margin-left: 20px;

    a {
      color: #828282;
      @include font-size(0.875);

      &:hover {
        color: black;
        text-decoration: none;
      }
    }
    
    &:after {
      position: absolute;
      top: 4px;
      right: 0;
      mask-position: center;
    }

    ul {
      margin: 0;
      padding: 0 10px;
      display: none;
      position: absolute;
      right: 0;
      z-index: 11;
      top: 100%;
      box-shadow: 0 8px 20px rgba(0,0,0,0.25);
      background: white;

      li {
        padding: 5px 0;
        border-bottom: 1px solid #828282;
        display: block;
        list-style: none;

        &:last-child {
          border-bottom: 0;
        }
      }
    }

    &:hover {
      ul {
        display: block;
      }
    }
  }
  
  .menu {
    position: absolute;
    right: 0;
    background: none;
    border: none;
  }
  .social-header {

    &_row {
      display: flex;
      flex-wrap: wrap;
      border-bottom: 1px solid #c4c4c4;
    }

    .hotel-name {
      @include font-size(0.875);
      color: #8c8c8c;
      margin-right: 15px;
    }

    .phone, .email {
      margin: 0 15px;
      font-weight: bold;
      color: #8c8c8c;
      @include font-size(0.875);

      &:hover {
        color: #020202;
      }
    }

    .socials {
      display: inline-block;
      margin-bottom: 0;

      li {
        display: inline-block;
        a {
          @include font-size(0.875);
        }
      }
    }
  }
}

nav.mobile-nav {
  left: 0;
  padding: 35px 20px;
  position: absolute;
  display: none;
  width: 480px;
  height: 800px;
  max-height: 100vh;
  overflow-y: auto;
  max-width: 100%;
  background: #EFEFEF;
  z-index: 10;
  box-shadow: 0 8px 20px rgba(0,0,0,0.25);

  .close {
    &:hover:before {
      background: black;
    }
  }

  & > ul {
    padding: 0;
    margin-bottom: 20px;
  }

  li {
    list-style: none;

    a {
      @include font-size(1.125);
      color: black;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  div.socials {
    a {
      display: inline-block;
      @include font-size(1.125);
      color: black;
      margin-left: 30px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  ul.socials {
    margin-top: 30px;
    padding: 0;
    li {
      display: inline-block;

      .icon {
        &:before {
          width: 32px;
          height: 32px;
          mask-size: 32px 32px;
        }
      }
    }
  }
}

.site-nav {
  .scroll {
    white-space: nowrap;
    overflow-x: auto !important;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  .scroll::-webkit-scrollbar {
    display: none;
  }
}
