.icon-fields {
  li {
    margin: 12px 0;
  }
}

.icon-field-icon {
  display: inline-block;
  vertical-align: middle;
  
  &:before {
    content: "";
    display: inline-block;
    width: 40px;
    height: 40px;
  }

  &.air-conditioner:before {
    @include icon-field('air-conditioner', 40px 40px, #8c8c8c);
  }

  &.bathrobe:before {
    @include icon-field('bathrobe', 40px 40px, #8c8c8c);
  }

  &.bed:before {
    @include icon-field('bed', 40px 40px, #8c8c8c);
  }

  &.capability:before {
    @include icon-field('capability', 40px 40px, #8c8c8c);
  }

  &.coffee-cup:before {
    @include icon-field('coffee-cup', 40px 40px, #8c8c8c);
  }

  &.cosmetic-mirror:before {
    @include icon-field('cosmetic-mirror', 40px 40px, #8c8c8c);
  }

  &.cosmetics:before {
    @include icon-field('cosmetics', 40px 40px, #8c8c8c);
  }

  &.curtain:before {
    @include icon-field('curtain', 40px 40px, #8c8c8c);
  }

  &.hair-dryer:before {
    @include icon-field('hair-dryer', 40px 40px, #8c8c8c);
  }

  &.hanger:before {
    @include icon-field('hanger', 40px 40px, #8c8c8c);
  }

  &.idea:before {
    @include icon-field('idea', 40px 40px, #8c8c8c);
  }

  &.ironing:before {
    @include icon-field('ironing', 40px 40px, #8c8c8c);
  }

  &.lamp:before {
    @include icon-field('lamp', 40px 40px, #8c8c8c);
  }

  &.massage:before {
    @include icon-field('massage', 40px 40px, #8c8c8c);
  }

  &.microphone:before {
    @include icon-field('microphone', 40px 40px, #8c8c8c);
  }

  &.monitor:before {
    @include icon-field('monitor', 40px 40px, #8c8c8c);
  }

  &.placeholder:before {
    @include icon-field('placeholder', 40px 40px, #8c8c8c);
  }

  &.proector:before {
    @include icon-field('proector', 40px 40px, #8c8c8c);
  }

  &.screen:before {
    @include icon-field('screen', 40px 40px, #8c8c8c);
  }

  &.selection:before {
    @include icon-field('selection', 40px 40px, #8c8c8c);
  }

  &.shower:before {
    @include icon-field('shower', 40px 40px, #8c8c8c);
  }

  &.socket:before {
    @include icon-field('socket', 40px 40px, #8c8c8c);
  }

  &.sound:before {
    @include icon-field('sound', 40px 40px, #8c8c8c);
  }

  &.speaker:before {
    @include icon-field('speaker', 40px 40px, #8c8c8c);
  }

  &.strongbox:before {
    @include icon-field('strongbox', 40px 40px, #8c8c8c);
  }

  &.toothbrush:before {
    @include icon-field('toothbrush', 40px 40px, #8c8c8c);
  }

  &.tray:before {
    @include icon-field('tray', 40px 40px, #8c8c8c);
  }

  &.warm-floor:before {
    @include icon-field('warm-floor', 40px 40px, #8c8c8c);
  }

  &.water-bottle:before {
    @include icon-field('water-bottle', 40px 40px, #8c8c8c);
  }

  &.wifi:before {
    @include icon-field('wifi', 40px 40px, #8c8c8c);
  }
}