.page-header {
  margin-top: 20px;
  margin-bottom: 30px;

  .row {
    background: #222 url("../assets/images/page-header.png") no-repeat center center;
    background-size: cover;
    margin-left: 0!important;
    margin-right: 0!important;
  }

  h1 {
    color: white;
    text-align: center;
    display: inline-block;
    margin: 30px 0;
  }
}

section.shadowy {
  background: white;
  padding: 10px 0 30px 0;
  box-shadow: 0 8px 19px rgba(0,0,0,0.25);
  margin-bottom: 45px;

  h2 {
    font-weight: bold;
    @include font-size(3);
    margin-bottom: 35px;
  }
}

.gallery {
  img {
    width: 100%;
  }

  .slick-arrow {
    background: rgba(0,0,0,0.10);
    z-index: 1;
    padding: 0 15px;
    box-sizing: border-box;
    width: 80px;
    height: 100%;
    transition: .3s;
    &:before {
      vertical-align: top;
      display: inline-block;
      content: '';
      transition: .3s;
      font-size: 40px;
      opacity: .5;
      width: 32px;
      height: 32px;
    }
    &:hover {
      background: rgba(0,0,0,0.50);
      &:before {
        opacity: 1;
      }
    }
    &.slick-prev {
      left: 15px;
      &:before {
        @include icon('arrow-left', 32px 32px, white);
      }
    }
    &.slick-next {
      right: 15px;
      &:before {
        @include icon('arrow-right', 32px 32px, white);
      }
    }
  }
}

.single .wrapper,
.page-content{
  background: white;
}

.icon {

  &.before {
    &:before {
      content: "";
      display: inline-block;
      width: 16px;
      height: 16px;
    }

    &.no-text {
      font-size: 0!important;
    }

    &.close:before {
      @include icon('close', 16px 16px, #8c8c8c);
    }

    &.menu:before {
      @include icon('menu', 16px 16px, #8c8c8c);
    }

    &.vk:before {
      @include icon('vk', 16px 16px, #8c8c8c);
    }

    &.facebook:before {
      @include icon('facebook', 16px 16px, #8c8c8c);
    }

    &.google:before {
      @include icon('googleplus', 16px 16px, #8c8c8c);
    }

    &.pointer:before {
      @include icon('pointer', 8px 8px, #8c8c8c);
    }

    &.instagram:before {
      @include icon('instagram', 16px 16px, #8c8c8c);
    }
  }

  &.after {
    &:after {
      content: "";
      display: inline-block;
      width: 16px;
      height: 16px;
    }

    &.no-text {
      font-size: 0!important;
    }

    &.close:after {
      @include icon('close', 16px 16px, #8c8c8c);
    }

    &.menu:after {
      @include icon('menu', 16px 16px, #8c8c8c);
    }

    &.vk:after {
      @include icon('vk', 16px 16px, #8c8c8c);
    }

    &.facebook:after {
      @include icon('facebook', 16px 16px, #8c8c8c);
    }

    &.google:after {
      @include icon('googleplus', 16px 16px, #8c8c8c);
    }

    &.pointer:after {
      @include icon('pointer', 8px 8px, #8c8c8c);
    }
    &.instagram:after {
      @include icon('instagram', 16px 16spx, #8c8c8c);
    }
  }

}
.component {
  h5 {
    font-weight: bold;
    @include font-size(1.5);
    margin-bottom: 20px;
  }
  .component-list {
    margin: 0;
    padding: 0;
    margin-bottom: 35px;
    
    li {
      @include font-size(1.125);
      list-style: none;
      display: flex;
      justify-content: space-between;

      span.field {
        font-weight: bold;
      }
    }
  }

}

.icon-fields {
  margin-top: 35px;
  margin-bottom: 35px;

  ul {
    li {
      list-style: none;
    }
  }
}

.hall-info {
  margin-bottom: 35px;
}

a.title-link {
  display: inline-block;
  margin: 20px 0;
  text-decoration: underline;
  color: black;
  @include font-size(1.5);

  &:hover {
    text-decoration: none;
  }
}