.site-nav {
  position: relative;
  z-index: 3;
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline-block;
    margin: 0 10px;
  }

  .menu-item {
    a {
      color: black;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .menu-item > ul {
    display: none;
    position: absolute;
    top: 100%;
    box-shadow: 0 8px 20px rgba(0,0,0,0.25);
    background: white;
    li {
      padding: 5px 0;
      border-bottom: 1px solid #828282;
      display: block;
      list-style: none;

      &:last-child {
        border-bottom: none;
      }
    }
  }

  .menu-item:hover {
    & > ul {
      display: block;
    }
  }
}