.room-preview {
  img {
    width: 100%;
  }

  h3 {
    margin: 0;
  }

  ul {
    padding: 0;
    margin: 0;
    li {
      list-style: none;

      strong {
        color: #585757;
      }
    }
  }
}