@import '~bootstrap-scss/bootstrap.scss';
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';
@import '~air-datepicker/dist/css/datepicker.css';
@import "~selectize/dist/css/selectize.css";
@import "~selectize/dist/css/selectize.default.css";

.row{ margin-left: 0!important; margin-right: 0!important;}

.container{
  .row{margin-left: -15px!important; margin-right: -15px!important;}
}

#page {
  overflow-x: hidden;
}

@import "mixins/font-size";
@import "mixins/icon";
@import './scss/style.scss';
@import "header";
@import "nav";
@import "layout";
@import "hall";
@import "room";
@import "bar";
@import "forms";
@import "icon-fields";
@import "~ion-rangeslider/css/ion.rangeSlider.min.css";

.wpcf7-form-control-wrap.square {
  .irs--flat .irs-bar {
    background-color: #509D33;
  }

  .irs--flat .irs-handle>i:first-child {
    background-color: #3A7425;
  }

  .irs--flat .irs-single {
    background-color: #509D33;
    &:before {
      border-top-color: #509D33;
    }
  }
}