<div class="container-fluid wrapper">
	<div class="container">
		<p class='visa__header row'>Для того, чтобы получить визовую поддержку, пожалуйста, <br>заполните форму ниже (один раз для каждого из гостей, кому нужна виза)</p>
	</div>
	<div class="galery">
		<div class="container visa">
			<div class="visa__form">
				<p>Номер бронирования<span>*</span></p>
				<input type="text">
				<p>Фамилия<span>*</span></p>
				<input type="text">
				<p>Имя<span>*</span></p>
				<input type="text">
				<p>Отчество</p>
				<input type="text">
				<p>Номер паспорта</p>
				<input type="text">
				<div class='line'>
					<div class='icon date'>
						<p>Дата рождения<span>*</span></p>
						<input type="text" pattern="[0-9]{2}.[0-9]{2}.[0-9]{4}" placeholder="xx.xx.xxxx">
						<img src="img/calendar.svg" alt="">
					</div>
					<div class='icon male'>
						<p>Пол<span>*</span></p>
						<select class="request__hall" id="male">
							<option>М</option>
							<option>Ж</option>
						</select>
					</div>
				</div>
				<p>Гражданство</p>
				<input type="text">
				<p>Email<span>*</span></p>
				<input type="text">
				<a href="#" class='visa__button'>Отправить</a>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row visa__bottom">
			<p>Вы получите приглашение в течении <span>двух рабочих дней.</span></p>

			<p>Если Вы не получите документы визовой поддержки в течение <span>двух<br> рабочих дней,</span> пожалуйста свяжитесь со службой бронирования.</p>

			<p><span>+7 812 448 71 27 <br>
			booking@hi-spb.com</span></p>
		</div>
	</div>
</div>