@mixin icon($icon, $size, $color) {
  mask: url("../assets/images/icons/"+$icon+".svg") center center no-repeat;
  mask-size: $size;
  background-color: $color;
}

@mixin icon-field($icon, $size, $color) {
  mask: url("../assets/images/icon-fields/"+$icon+".svg") center center no-repeat;
  mask-size: $size;
  background-color: $color;
}