<div class='booking'>
	<img src="{{ banner.src }}" alt="">
	<form action="" method="" class="container booking__window">
		<div class="row">
			<div class="col-6 col-lg-2 slot">
				<h6>{{ __('Check In', 'timbersaw-theme') }}</h6>
				<label class="date">
					<input type="text" id="check-in">
				</label>
			</div>
			<div class="col-6 col-lg-2 slot">
				<h6>{{ __('Check Out', 'timbersaw-theme') }}</h6>
				<label class="date">
					<input type="text" id="check-out">
				</label>
			</div>
			<div class="col-6 col-lg-2 slot">
				<h6>{{ __('Adults', 'timbersaw-theme') }}</h6>
				<label>
					<input type="text" value="1">
				</label>
			</div>
			<div class="col-6 col-lg-2 slot">
				<h6>{{ __('Children', 'timbersaw-theme') }}</h6>
				<label>
					<input type="text" value="1">
				</label>
			</div>
			<div class="col-12 col-lg-4 text-center">
				<button type="submit" class='button'>{{ __('Booking', 'timbersaw-theme') }}</button>
			</div>

		</div>
	</form>
</div>