<div class="galery features">
	<div class="container">
		<div class="row">
			<p>Особенности</p>
		</div>
		<div class="row features__row justify-content-center">
			<div class="col-xl-3 features__item">
				<img src="./wp-content/themes/timbersaw-holidayinn-theme/public/assets/img/placeholder.svg" alt="">
				<p>Идеальное расположение на станции метро Московские ворота</p>
			</div>
			<div class="col-xl-4 features__item">
				<img src="./wp-content/themes/timbersaw-holidayinn-theme/public/assets/img/Group.svg" alt="">
				<p>6 конференц-залов с<br>вместимостью до 100 человек</p>
			</div>
			<div class="col-xl-3 features__item">
				<img src="./wp-content/themes/timbersaw-holidayinn-theme/public/assets/img/idea.svg" alt="">
				<p>Просторные номера, оборудованные  индивидуальной системой кондиционирования</p>
			</div>
		</div>
		<div class="row features__row justify-content-center">
			<div class="col-xl-3 features__item">
				<img src="./wp-content/themes/timbersaw-holidayinn-theme/public/assets/img/wifi.svg" alt="">
				<p>Идеальное расположение на станции метро Московские ворота</p>
			</div>
			<div class="col-xl-3 features__item">
				<img src="./wp-content/themes/timbersaw-holidayinn-theme/public/assets/img/tray.svg" alt="">
				<p>Идеальное расположение на станции метро Московские ворота</p>
			</div>
		</div>
	</div>
</div>