<div class="galery features">
	<div class="container">
		<div class="row">
			<p>Особенности</p>
		</div>
		<div class="row features__row justify-content-center">
			{% for feature in front_features %}
			<div class="col-xl-4 features__item">
				<span class="{{ feature.icon }} icon-field-icon"></span>
				<p>{{ feature.value }}</p>
			</div>
			{% endfor %}
		</div>
	</div>
</div>