<div class="galery cost">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-xl-3 cost__item">
				<img src="./wp-content/themes/timbersaw-holidayinn-theme/public/assets/img/cost.svg" alt="">
			</div>
			<div class="col-xl-3 cost__item">
				<img src="./wp-content/themes/timbersaw-holidayinn-theme/public/assets/img/ihg.svg" alt="">
			</div>
		</div>
	</div>
</div>