<div class="galery">
<div class="map container">
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3177.9072291219404!2d30.31853194176964!3d59.89265630978716!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46963069214f8573%3A0xfacc04c89ed28c7b!2z0JzQvtGB0LrQvtCy0YHQutC40Lkg0L_RgC4sIDk3LCDQodCw0L3QutGCLdCf0LXRgtC10YDQsdGD0YDQsywgMTk2MDg0!5e0!3m2!1sru!2sru!4v1554884923467!5m2!1sru!2sru" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
</div>