<div class="container info">
	<div class="row info__header">Общая информация</div>
	<div class="row info__icons">
		<div class="column">
			<ul>
				<li class='d-flex'><img src="img/selection.svg" alt=""><div class='text'>Просторный номер – 25 m^2</div></li>
				<li class='d-flex'><img src="img/selection.svg" alt=""><div class='text'>Двуспальная кровать или две односпальные</div></li>
				<li class='d-flex'><img src="img/selection.svg" alt=""><div class='text'>Кондиционер</div></li>
				<li class='d-flex'><img src="img/selection.svg" alt=""><div class='text'>Доступ в Интернет</div></li>
			</ul>
		</div>
		<div class="column">
			<ul>
				<li class='d-flex'><img src="img/selection.svg" alt=""><div class='text'>Просторный номер – 25 m^2</div></li>
				<li class='d-flex'><img src="img/selection.svg" alt=""><div class='text'>Двуспальная кровать или две односпальные</div></li>
				<li class='d-flex'><img src="img/selection.svg" alt=""><div class='text'>Кондиционер</div></li>
				<li class='d-flex'><img src="img/selection.svg" alt=""><div class='text'>Доступ в Интернет</div></li>
			</ul>
		</div>
		<div class="column">
			<ul>
				<li class='d-flex'><img src="img/selection.svg" alt=""><div class='text'>Просторный номер – 25 m^2</div></li>
				<li class='d-flex'><img src="img/selection.svg" alt=""><div class='text'>Двуспальная кровать или две односпальные</div></li>
				<li class='d-flex'><img src="img/selection.svg" alt=""><div class='text'>Кондиционер</div></li>
				<li class='d-flex'><img src="img/selection.svg" alt=""><div class='text'>Доступ в Интернет</div></li>
			</ul>
		</div>
	</div>
</div>