<div class="galery">
	<div class="container">
		<div class="row galery__text">
			<p>Галерея</p>
		</div>
		<div class="row galery__image">
			<div class="col-xl-12">
				<img src="./wp-content/themes/timbersaw-holidayinn-theme/public/assets/img/bar.png" id='largeImg' alt="" width="100%">
			</div>
			<div class="col-xl-12 d-flex galery__image-small" id='smallImg'>
				<div><a><img src="./wp-content/themes/timbersaw-holidayinn-theme/public/assets/img/room2.png" alt="" width="119.5px" height="80px"></a></div>
				<div><a><img src="./wp-content/themes/timbersaw-holidayinn-theme/public/assets/img/bar.png" alt="" width="119.5px" height="80px"></a></div>
				<div><img src="./wp-content/themes/timbersaw-holidayinn-theme/public/assets/img/room2.png" alt="" width="120px" height="80px"></div>
				<div><img src="./wp-content/themes/timbersaw-holidayinn-theme/public/assets/img/room2.png" alt="" width="120px" height="80px"></div>
				<div><img src="./wp-content/themes/timbersaw-holidayinn-theme/public/assets/img/room2.png" alt="" width="120px" height="80px"></div>
				<div><img src="./wp-content/themes/timbersaw-holidayinn-theme/public/assets/img/room2.png" alt="" width="120px" height="80px"></div>
				<div><img src="./wp-content/themes/timbersaw-holidayinn-theme/public/assets/img/room2.png" alt="" width="120px" height="80px"></div>
				<div><img src="./wp-content/themes/timbersaw-holidayinn-theme/public/assets/img/room2.png" alt="" width="120px" height="80px"></div>
				<div><img src="./wp-content/themes/timbersaw-holidayinn-theme/public/assets/img/room2.png" alt="" width="120px" height="80px"></div>
			</div>
		</div>
	</div>
</div>