<div class="galery conf-hall">
	<div class="container">
		<div class="row galery__text">
			<p>Первый этаж</p>
		</div>
		<div class="row galery__room">
			<div class="container room">
				<div class='room__item'>
					<img src="./wp-content/themes/timbersaw-holidayinn-theme/public/assets/img/room6.png" alt="">
					<div class="row">
						<a href='#'><p>Эконом номер</p></a>
					</div>
				</div>
				<div class='room__item'>
					<img src="./wp-content/themes/timbersaw-holidayinn-theme/public/assets/img/room6.png" alt="">
					<div class="row">
						<a href='#'><p>Эконом номер</p></a>
					</div>
				</div>
				<div class='room__item'>
					<img src="./wp-content/themes/timbersaw-holidayinn-theme/public/assets/img/room6.png" alt="">
					<div class="row">
						<a href='#'><p>Эконом номер</p></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="galery conf-hall">
	<div class="container">
		<div class="row galery__text">
			<p>Второй этаж</p>
		</div>
		<div class="row galery__room">
			<div class="container room">
				<div class='room__item'>
					<img src="./wp-content/themes/timbersaw-holidayinn-theme/public/assets/img/room6.png" alt="">
					<div class="row">
						<a href='#'><p>Эконом номер</p></a>
					</div>
				</div>
				<div class='room__item'>
					<img src="./wp-content/themes/timbersaw-holidayinn-theme/public/assets/img/room6.png" alt="">
					<div class="row">
						<a href='#'><p>Эконом номер</p></a>
					</div>
				</div>
				<div class='room__item'>
					<img src="./wp-content/themes/timbersaw-holidayinn-theme/public/assets/img/room6.png" alt="">
					<div class="row">
						<a href='#'><p>Эконом номер</p></a>
					</div>
				</div>
				<div class='room__item'>
					<img src="./wp-content/themes/timbersaw-holidayinn-theme/public/assets/img/room6.png" alt="">
					<div class="row">
						<a href='#'><p>Эконом номер</p></a>
					</div>
				</div>
				<div class='room__item'>
					<img src="./wp-content/themes/timbersaw-holidayinn-theme/public/assets/img/room6.png" alt="">
					<div class="row">
						<a href='#'><p>Эконом номер</p></a>
					</div>
				</div>
				<div class='room__item'>
					<img src="./wp-content/themes/timbersaw-holidayinn-theme/public/assets/img/room6.png" alt="">
					<div class="row">
						<a href='#'><p>Эконом номер</p></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>