{% if files %}
    <div class="files">
        {% for file in files %}
            {% set file = Image(file) %}
            <a class="btn-bordered" href="{{ file.link }}">{{ file.title }}</a>
        {% endfor %}
    </div>
{% endif %}