<div class="gallery col-12">
    {% for slide in gallery %}
        <img src="{{ slide.src|resize(1170,450) }}" alt="">
    {% endfor %}
</div>
<div class="gallery-nav col-12">
    {% for slide in gallery %}
        <img src="{{ slide.src|resize(120,80) }}" alt="">
    {% endfor %}
</div>