<div class="container hall-info">
    <div class="row">
        <div class="col-12 order-2 order-sm-1 col-md-5 col-lg-4">
            {% if sizes %}
                {% include "front/components/input-group.twig" with {'group': sizes, 'group_title': __('Sizes', 'timbersaw-theme')} %}
            {% endif %}
            {% if capacity %}
                {% include "front/components/input-group.twig" with {'group': capacity, 'group_title': __('Capacity', 'timbersaw-theme')} %}
            {% endif %}
            {% if rent %}
                {% include "front/components/input-group.twig" with {'group': rent, 'group_title': __('Rent', 'timbersaw-theme')} %}
            {% endif %}
            {% if forms.hall_form %}
                <button data-toggle="modal" data-target="#exampleModalLong" type="button" class="btn">{{ __('Book the hall', 'timbersaw-theme') }}</button>
            {% endif %}
        </div>
        <div class="col-12 order-1 order-sm-2 col-md-7 col-lg-8 hall-map">
            {% if map %}
                <img src="{{ map.src|resize(770, 542) }}" alt="">
            {% endif %}
        </div>
    </div>
</div>

{% if forms.hall_form %}
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">{{ __('Booking', 'timbersaw-theme') }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ forms.hall_form }}
            </div>
        </div>
    </div>
</div>
{% endif %}