<div class="container icon-fields component">
    <div class="row">
        <h4 class="col-12">{{ fields_title }}</h4>
        <ul class="col-md-12 row">
            {% for feature in fields %}
                <li class="col-12 col-md-4">
                    <span class="{{ feature.icon }} icon-field-icon"></span>
                    {{ feature.value }}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
