<div class="component">
    <h5>{{ group_title }}</h5>
    <ul class="component-list">
        {% for input in group %}
            <li>
                <span class="label">{{ input.label }}</span>
                <span class="field">{{ input.value }}</span>
            </li>
        {% endfor %}
    </ul>
</div>
