<div class="container">
    <div class="row">
        <div class="component col-6 col-md-5 col-lg-4">
            <h4>{{ head }}</h4>
            <ul class="component-list">
                <li>
                    <span class="label">{{ __('Monday', 'timbersaw-theme') }}</span>
                    <span class="value">{{ days.0 }}</span>
                </li>
                <li>
                    <span class="label">{{ __('Tuesday', 'timbersaw-theme') }}</span>
                    <span class="value">{{ days.1 }}</span>
                </li>
                <li>
                    <span class="label">{{ __('Wednesday', 'timbersaw-theme') }}</span>
                    <span class="value">{{ days.2 }}</span>
                </li>
                <li>
                    <span class="label">{{ __('Thursday', 'timbersaw-theme') }}</span>
                    <span class="value">{{ days.3 }}</span>
                </li>
                <li>
                    <span class="label">{{ __('Friday', 'timbersaw-theme') }}</span>
                    <span class="value">{{ days.4 }}</span>
                </li>
                <li>
                    <span class="label">{{ __('Saturday', 'timbersaw-theme') }}</span>
                    <span class="value">{{ days.5 }}</span>
                </li>
                <li>
                    <span class="label">{{ __('Sunday', 'timbersaw-theme') }}</span>
                    <span class="value">{{ days.6 }}</span>
                </li>
            </ul>
            <button data-toggle="modal" data-target="#exampleModalLong" type="button" class="btn" type="button">{{ __('Booking', 'timbersaw-theme') }}</button>
        </div>
    </div>
</div>
{% if forms.bar_form  %}
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">{{ __('Booking', 'timbersaw-theme') }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ forms.bar_form }}
                </div>
            </div>
        </div>
    </div>
{% endif %}
