<div class="galery">
	<div class="container ">
		<div class="row rooms">
			<div class="rooms__item">
				<img src="img/room4.png" alt="">
				<div class='row'><p class='rooms__class'>Делюкс номер</p></div>
				<ul>
					<li>
						<p class='para'>Размер:</p><p>20-22 кв.м.</p>
					</li>
					<li>
						<p class='para'>Ванна или душ:</p><p>душ</p>
					</li>
					<li>
						<p class='para'>Вид из окна:</p><p>внутренний двор</p>
					</li>
					<li>
						<p class='para'>Wi-Fi:</p><p>20-22 кв.м.</p>
					</li>
					<li>
						<p class='para'>Тип кроватей:</p><p>20-22 кв.м.</p>
					</li>
				</ul>
			</div>
			<div class="rooms__item">
				<img src="img/room4.png" alt="">
				<div class='row'><p class='rooms__class'>Делюкс номер</p></div>
				<ul>
					<li>
						<p class='para'>Размер:</p><p>20-22 кв.м.</p>
					</li>
					<li>
						<p class='para'>Ванна или душ:</p><p>душ</p>
					</li>
					<li>
						<p class='para'>Вид из окна:</p><p>внутренний двор</p>
					</li>
					<li>
						<p class='para'>Wi-Fi:</p><p>20-22 кв.м.</p>
					</li>
					<li>
						<p class='para'>Тип кроватей:</p><p>20-22 кв.м.</p>
					</li>
				</ul>
			</div>
			<div class="rooms__item">
				<img src="img/room4.png" alt="">
				<div class='row'><p class='rooms__class'>Делюкс номер</p></div>
				<ul>
					<li>
						<p class='para'>Размер:</p><p>20-22 кв.м.</p>
					</li>
					<li>
						<p class='para'>Ванна или душ:</p><p>душ</p>
					</li>
					<li>
						<p class='para'>Вид из окна:</p><p>внутренний двор</p>
					</li>
					<li>
						<p class='para'>Wi-Fi:</p><p>20-22 кв.м.</p>
					</li>
					<li>
						<p class='para'>Тип кроватей:</p><p>20-22 кв.м.</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>