.conf-hall {
	.btn-booking {
		@include btn-booking;
		margin-bottom: 35px;
		a {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			height: 60px;
			width: 370px;
			color: white;
			@include bold;
			font-size: 24px;
		}
	}
	.first-floor {
		p {
			margin-bottom: 20px;
			height: 45px;
		}
	}
	.galery__room {
		.container {
			padding: 0;
			min-width: 1170px;
		}
		.room {
			display: flex;
			flex-wrap: wrap;
			&__item {
				margin-bottom: 25px;
				a {
					text-decoration: none;
					color: black;
				}
			}
		}
		.room .room__item:nth-child(3n) {
			margin-right: 0;
		}
	}
}