@font-face {
	font-family: 'Proxima Nova Regular';
	src: url('../assets/fonts/ProximaNova-Regular.eot');
	src: url('../assets/fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
	url('../assets/fonts/ProximaNova-Regular.woff') format('woff'),
	url('../assets/fonts/ProximaNova-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Semibold';
	src: url('../assets/fonts/ProximaNova-Semibold.eot');
	src: url('../assets/fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
	url('../assets/fonts/ProximaNova-Semibold.woff') format('woff'),
	url('../assets/fonts/ProximaNova-Semibold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@mixin bold {
	font-family: 'Proxima Nova Semibold', sans-serif;
}

@mixin regular {
	font-family: 'Proxima Nova Regular', sans-serif;
}