.footer {
	padding: 35px 0;
	background: #EFEFEF;

	a {
		text-decoration: underline;
		color: black;

		&:hover {
			text-decoration: none;
		}
	}

	.footer-widget {
		margin-bottom: 35px;
	}

	h4 {
		font-weight: bold;
		@include font-size(1.5);
	}
	ul {
		margin: 0;
		padding: 0;
		
		li {
			list-style: none;
		}
	}
}

@media (max-width: 320px) {
	.footer {
		height: auto;
		&__partners {
			img {
				width: 90%;
			}
		}
	}
}