.col-xl-12, .col-xl-4 {
	padding: 0;
}

.hall {
	padding-bottom: 200px;
	&__info {
		margin-bottom: 60px;
	}
	.info__icons {
		// margin-bottom: 20px;
	}
	.lines {
		width: 100%;
		margin-bottom: 20px;
		.line {
			display: flex;
			justify-content: space-between;
			.bold {
				@include bold;
			}
		}
	}
	.map-hall {
		margin-top: 90px;
	}
	.booking__button {
		@include btn-booking;
		.button {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			width: 270px;
			height: 60px;
			color: white;
			@include bold;
			font-size: 24px;
		}
		// padding-bottom: 250px;
	}
}

