.col-xl-2 {
	padding-left: 0;
	padding-right: 0;
}

.header-info {
	height: 22px;
	margin-top: 5px;
	&__name {
		padding-left: 0;
		font-size: 14px;
	}
	&__mail {
		@include bold;
	}
	&__number {
		@include bold;
	}
	&__social {
		justify-content: flex-end;
		padding-right: 0;
		img:not(:last-child) {
			margin-right: 5px;
		}
		img:nth-child(3) {
			margin-right: 20px;
		}
		.topmenu {
			list-style-type: none;
			position: relative;
			font-size: 14px;
			cursor: pointer;
			.submenu {
				list-style-type: none;
				display: none;
				position: absolute;
				left: 5px;
				top: 0px;
				li {
					border: 1px solid #C4C4C4;
				}
				li:hover {
					cursor: pointer;
					text-decoration: underline;
					color: blue;
				}
			}
		}
		.topmenu:hover .submenu {
			display: block;
		}
	} 
}

.navbar {
	border-top: 1px solid #C4C4C4;
	padding: 0;
	height: 70px;
	.navbar__logo {
		max-width: 240px;
		padding: 0px;
	}
	&__nav {
		padding-right: 0;
	}
	.nav {
		justify-content: flex-end;
		@include bold; 
		li {
			padding-left: 20px;
		}
		li:hover {
			cursor: pointer;
			text-decoration: underline;
		}
	}
	.nav .topmenu {
		list-style-type: none;
		position: relative;
		.submenu {
			list-style-type: none;
			display: none;
			position: absolute;
			padding: 10px;
			left: -70px;
			top: 25px;
			width: 300px;
			border: none;
			li:not(:last-child) {
				border-bottom: 1px solid #C4C4C4;
			}
			li:hover {
				cursor: pointer;
				text-decoration: underline;
			}
		}
	}
	.topmenu:hover .submenu {
		display: block;
	}
}