.info {
	&__header {
		@include bold;
		font-size: 24px;
		margin-bottom: 20px;
	}
	&__icons {
		display: flex;
		justify-content: space-between;
		.column {
			width: 370px;
		}
		ul {
			padding-left: 0;
		}
		li {
			list-style-type: none;
			margin-bottom: 18px;
		}
		img {
			margin-right: 25px;
		}
		.text {
			display: flex;
			align-items: center;
		}
	}
}