@mixin bottom-line {
	background: 0 0;
	background: -moz-linear-gradient(top,rgba(0,0,0,0) 0,black 100%);
	background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,black 100%);
	background: -o-linear-gradient(top,rgba(0,0,0,0) 0,black 100%);
	background: -ms-linear-gradient(top,rgba(0,0,0,0) 0,black 100%);
	background: linear-gradient(to bottom,rgba(0,0,0,0) 0,black 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=transparent, endColorstr=black, GradientType=0);
	background-repeat: repeat-x;
	background-position: 0 85%;
	background-size: 1px 2px;
	// text-decoration: none;
}

$color-gray: #8C8C8C;

body {
	@include regular;
	font-size: 18px;
}

.header-info {
	color: $color-gray;
}

.booking__window {
	color: $color-gray;
}

@mixin btn-booking {
	a {
		background: #509D33;
		box-shadow: 0 5px 15px rgba(0,0,0,0.25), 0 5px 15px rgba(0,0,0,0.22);
	}
	a:hover {
		text-decoration: none;
		background: #4ea4e6;
	}
	a:active {
		box-shadow: none;
	}
}
