.wrapper {
	background: linear-gradient(to right, #C4C4C4 0%, white 0.5%);
	background-size: 260px auto;
	background-position: center;
}

.booking {
	position: relative;
	margin-bottom: 100px;

	img {
		width: 100%;

		@include media-breakpoint-down(md) {
			display: none;
		}
	}

	label.date {
		width: 100%;
		position: relative;
		&:after {
			position: absolute;
			right: 0;
			top: 0;
			width: 38px;
			height: 38px;
			content: "";
			display: inline-block;
			@include icon('calendar', 16px 16px, #828282);
		}
	}

	input[type="text"] {
		border: none;
		border-bottom: 3px solid #C4C4C4;
		width: 100%;
	}
	
	&__window {
		padding-top: 24px;
		padding-bottom: 24px;
		font-size: 24px;
		position: absolute;
		box-shadow: 0px 5px 15px 2px rgba(154, 147, 140, 0.5);
		background: white;
		align-items: center;
		left: 0;
		right: 0;
		bottom: -60px;
		margin: auto;

		@include media-breakpoint-down(md) {
			position: static;
			bottom: 0;
		}

		.slot {
			display: flex;
			flex-direction: column;
			&__info {
				position: absolute;
				bottom: 5px;
				width: 165px;
				display: flex;
				color: black;
				justify-content: space-between;
				padding-right: 20px;
				img {
					width: 20px;
				}
				.topmenu {
					list-style-type: none;
					position: relative;
					cursor: pointer;
					.submenu {
						list-style-type: none;
						display: none;
						position: absolute;
						left: -10px;
						width: 40px;
						text-align: center;
						top: 35px;
						border: 1px solid #C4C4C4;
						background: white;
						padding-left: 0;
						li {
							height: 50px;
							border: 1px solid #C4C4C4;
						}
						li:hover {
							cursor: pointer;
							text-decoration: underline;
						}
					}
				}
				.topmenu:hover .submenu {
					display: block;
				}
			}
		}
		.booking__button {
			@include bold;
			@include btn-booking;
			margin-left: 40px;
			.button {
				display: inline-flex;
				justify-content: center;
				align-items: center;
				width: 240px;
				height: 60px;
				color: white;
			}
			.button:hover {
				background: #4ea4e6;
			}
		}
	}
}

.galery {
	background: white;
	.col-xl-12 {
		padding: 0;
	}
	box-shadow: 0px 5px 15px 2px rgba(154, 147, 140, 0.5);
	margin-bottom: 45px;
	font-size: 48px;
	@include bold;
	&__text {
		p {
			margin-bottom: 0;
			@include bottom-line;
		}
	}
	&__image {
		margin-top: 35px;
		&-small {
			display: flex;
			justify-content: space-between;
			margin-top: 10px;
			margin-bottom: 30px;
		}
	}
	&__room {
		display: flex;
		margin-top: 30px;
		.room {
			display: flex;
			justify-content: space-between;
			padding-bottom: 20px;
			.row {
				padding-left: 15px;
			}
			&__item {
				display: block;
				width: 370px;
				p {
					font-size: 24px;
					@include bottom-line;
					background-size: 1px 1px;
				}
			}
			// img {
			// 	width: 360px;
			// }
			
		}
		.room div:not(:last-child) {
			margin-right: 30px;
		}
	}
}

.features {
	&__row {
		padding-bottom: 55px;
	}
	&__item {
		display: block;
		text-align: center;
		padding: 0 20px 0 20px;
		p {
			font-size: 18px;
		}
	}
}

.map {
	height: 670px;
}

.cost {
	&__item {
		margin-top: 20px;
	}
	margin-bottom: 90px;
}