.marriage {
	.title {
		@include bold;
		font-size: 24px;
	}
	.buttons {
		margin-bottom: 35px;
		.btn-menu {
			width: 170px;
			height: 40px;
			margin-right: 30px;
			color: #509D33;
			border: 2px solid #509D33;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			@include bold;
			font-size: 24px;
		}
		.btn-menu:hover {
			border: 4px solid #509D33;
			text-decoration: none;
		}
	}
	.btn-booking {
		margin-bottom: 50px;
		@include btn-booking;
		a {
			width: 370px;
			height: 40px;
			color: white;
			@include bold;
			font-size: 24px;
			display: inline-flex;
			justify-content: center;
			align-items: center;
		}
	}
	&-desc {
		p {
			margin-bottom: 30px;
		}
	}
}