.rest {
	display: flex;
	justify-content: space-between;
	padding-top: 15px;
	padding-bottom: 35px;
	&__item {
		width: 570px;
		padding-bottom: 35px;
		img {
			// width: 100%;
		}
		.rest-name {
			@include bold;
			font-size: 48px;
			@include bottom-line;
			display: inline-flex;
		}
		.rest-info {
			font-size: 24px;
		}
		.buttons {
			display: flex;
			.btn-menu {
				box-sizing: padding-box;
				display: inline-flex;
				border: 2px solid #509D33;
				width: 135px;
				height: 40px;
				justify-content: center;
				align-items: center;
				@include bold;
				font-size: 24px;
				color: #509D33;
				margin-right: 10px;
				text-decoration: none;
			}
			.btn-menu:hover {
				border: 4px solid #509D33;

			}
			.btn-booking {
				display: inline-flex;
				width: 220px;
				height: 40px;
				align-items: center;
				justify-content: center;
				@include bold;
				background: #509D33;
				color: white;
				font-size: 24px;
				text-decoration: none;
				box-shadow: 0 5px 15px rgba(0,0,0,0.25), 0 5px 15px rgba(0,0,0,0.22);
			}
			.btn-booking:hover {
				background: #4ea4e6;
			}
			.btn-booking:active {
				box-shadow: none;
			}
		}
	}
}