.header__preview {
	height: 120px;
	background-image: url(../img/background.png);
	justify-content: center;
	align-content: center;
	color: white;
	@include bold;
	font-size: 48px;
	margin-bottom: 20px;
}

.rooms {
	display: flex;
	justify-content: space-between;
	padding-top: 15px;
	&__item {
		width: 360px;
		img {
			width: 100%;
		}
	}
	&__class {
		@include bold;
		font-size: 24px;
		@include bottom-line;
		margin-left: 15px;
	}
	ul {
		padding-left: 0;
		li {
			list-style-type: none;
			display: flex;
			.para {
				color: $color-gray;
				margin-right: 10px;
			}
			p {
				font-size: 18px;
				@include regular;
			}
		}	
	}
	
}