.schedule {
	.bold {
		@include bold;
		font-size: 24px;
	}
	min-width: 1170px;
	&__day {
		display: flex;
		justify-content: space-between;
		width: 300px;
	}
	@include btn-booking;
	a {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 270px;
		height: 60px;
		color: white;
		@include bold;
		font-size: 24px;
	}
	&__btn {
		margin-top: 15px;
	}
	padding-bottom: 200px;
}
