.service {
	&__name p {
		@include bold;
		font-size: 48px;
	}
	&__item {
		display: flex;
		padding-bottom: 50px;
		.service__img {
			width: 370px;
		}
		.service__info {
			width: 770px;
			p {
				font-size: 18px;
				@include regular;
				padding-left: 30px;
			}
			ul {
				font-size: 18px;
				@include regular;
				padding-left: 50px;
				padding-bottom: 30px;
			}
			.work-time {
				@include bold;
			}
			.description {
				margin-bottom: 0;
			}
			p:last-child {
				margin-bottom: 0;
			}
		}
	}
}