.visa__header {
	margin-bottom: 35px;
	padding-top: 10px;
}

.visa {
	padding-top: 15px;
	display: flex;
	justify-content: center;
	.visa__form {
		width: 570px;
		height: auto;
		padding-bottom: 30px;
		p {
			height: 35px;
			font-size: 24px;
			margin-bottom: -20px;
			span {
				color: red;
			}
		}
		input {
			height: 38px;
			width: 100%;
			border: none;
			border-bottom: 2px solid #C4C4C4;
			margin-bottom: 20px;
			font-size: 24px;
			@include regular;
		}
		input:focus {
			outline: none;
		}
		.icon {
			position: relative;
			img {
				position: absolute;
				top: 45px;
				right: 0;
			}
			li {
				position: absolute;
				top: -90px;
				right: 0;
			}
		}
		.line {
			display: flex;
		}
		.date {
			width: 270px;
			input {
				height: 42px;
			}
		}
		.male {
			width: 170px;
			margin-left: 20px;
			.topmenu {
				list-style-type: none;
				position: relative;
				font-size: 14px;
				cursor: pointer;
				.submenu {
					list-style-type: none;
					display: none;
					position: absolute;
					left: 5px;
					top: 0px;
					li {
						border: 1px solid #C4C4C4;
					}
					li:hover {
						cursor: pointer;
						text-decoration: underline;
					}
				}
			}
		}
		.visa__button {
			display: inline-flex;
			width: 270px;
			height: 60px;
			justify-content: center;
			font-size: 24px;
			color: white;
			align-items: center;
		}
		@include btn-booking;
	}
}

.visa__bottom {
	display: inline-block;
	span {
		@include bold;
	}
	margin-bottom: 80px;
}

.visa {
	.visa__form {
		.request__hall {
			height: 38px;
			width: 100%;
			border: none;
			border-bottom: 2px solid #C4C4C4;
			font-size: 18px;
			margin-bottom: 20px;
			option {
				font-size: 18px;
			}
		}
		.who__select {
			height: 38px;
			width: 100%;
			border: none;
			border-bottom: 2px solid #C4C4C4;
			font-size: 18px;
			margin-bottom: 20px;
			option {
				font-size: 18px;
			}
		}
		.numb-persons {
			width: 570px;
			margin-left: 0;
		}
		.area {
			display: flex;
			margin-top: 35px;
			p {
				margin-right: 10px;
			}
			input {
				width: 135px;
				margin-right: 20px;
			}
		}
		textarea {
			margin-top: 35px;
			font-size: 18px;
			resize: none;
			@include regular;
		}
	}
}