<div class="galery">
	<div class="container">

			<div class="container visa">
				<div class="visa__form">
					<p>Зал</p>
					<select class="request__hall" id="hall-number">
						<option>Первый</option>
						<option>Второй</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
					<p>Компания/Организация/Частное лицо<span>*</span></p>	
					<select class="who__select" id="who">
						<option>Компания</option>
						<option>Организация</option>
						<option>Частное лицо</option>
					</select>
					<p>Имя<span>*</span></p>
					<input type="text" pattern="[A-Za-zА-Яа-яЁё]">
					<p>Фамилия<span>*</span></p>
					<input type="text" pattern="[A-Za-zА-Яа-яЁё]">
					<p>Отчество</p>
					<input type="text" pattern="[A-Za-zА-Яа-яЁё]">
					<p>Email<span>*</span></p>
					<input type="text" pattern="">
					<p>Телефон<span>*</span></p>
					<input type="text" pattern="">
					<p>Количество человек<span>*</span></p>
					<input type="text" pattern="[0-9]">
					<p>Желаемая площадь<span>*</span></p>
					<div class="area">
						<p>от</p>
						<input type="text" pattern="" placeholder="               м^2">
						<p>до</p>
						<input type="text" pattern="" placeholder="               м^2">
					</div>
					<p>Дата проведения<span>*</span></p>
					<div class="area">
						<p>от</p>
						<input type="text" pattern="[0-9]{2}.[0-9]{2}.[0-9]{4}" placeholder="xx.xx.xxxx">
						<p>до</p>
						<input type="text" pattern="[0-9]{2}.[0-9]{2}.[0-9]{4}" placeholder="xx.xx.xxxx">
					</div>
					<p>Дополнительные пожелания (300 символов)</p>
					<textarea name="" id="" cols="63" rows="5"></textarea>
					<a href="#" class='visa__button'>Отправить</a>
				</div>
			</div>

	</div>
</div>