<div class="galery">
	<div class="container service">
		<div class="row service__name">
			<p>Wi-Fi</p>
		</div>
		<div class="row service__item">
			<div class="service__img">
				<img src="img/room6.png" alt="">
			</div>
			<div class="service__info">
				<ul>
					<li>wi-fi есть во всех номерах отеля с 01.04.12. Предоставляется бесплатно для членов клуба Reward Club.</li>
					<li>бесплатный wi-fi во всех барах и ресторанах отеля, а также во всех общественных зонах с первого по третий этаж.</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="galery">
	<div class="container service">
		<div class="row service__name">
			<p>Прачечная</p>
		</div>
		<div class="row service__item">
			<div class="service__img">
				<img src="img/room6.png" alt="">
			</div>
			<div class="service__info">
				<p class='description'>удобный магазин, работающий по системе самообслуживания, с широким ассортиментом продуктов питания и товаров для дома, среди которых:</p>
				<ul>
					<li>мясо и мясные изделия</li>
					<li>молочные продукты</li>
					<li>хлебные изделия и свежая выпечка</li>
					<li>консервированные продукты и изделия в упаковке</li>
					<li>хозяйственные товары и бытовая химия</li>
					<li>парфюмерно-косметические продукция</li>
					<li>алкоголь</li>
				</ul>
				<p class='work-time'>часы работы: с 09:00 до 23:00</p>
				<p>расположен в соседнем корпусе</p>
			</div>
		</div>
	</div>
</div>
<div class="galery">
	<div class="container service">
		<div class="row service__name">
			<p>Wi-Fi</p>
		</div>
		<div class="row service__item">
			<div class="service__img">
				<img src="img/room6.png" alt="">
			</div>
			<div class="service__info">
				<ul>
					<li>wi-fi есть во всех номерах отеля с 01.04.12. Предоставляется бесплатно для членов клуба Reward Club.</li>
					<li>бесплатный wi-fi во всех барах и ресторанах отеля, а также во всех общественных зонах с первого по третий этаж.</li>
				</ul>
			</div>
		</div>
	</div>
</div>